*{
    /* background-color: darkgray; */
    margin: 0;
    padding: 0;
    
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: darkgray;
}
nav{
    display:flex;
    justify-content: center;
    gap: 20px;
   margin-bottom: 30px;
    /* margin:15px;
    padding:10px;*/
} 
#a1{
    margin:15px;
    padding:10px;
    border:2px solid black;
    border-radius: 10px;
    background-color: chocolate;
    color:black;
}
#a2{
    margin:15px;
    padding: 10px;
    border:2px solid black;
    border-radius: 10px;
    background-color: chocolate;
    color: black;
}
.container{
    justify-content: space-evenly;
    margin-top: 5px;
}
.box{
    margin-top: 1rem;
}
button{
    padding: 4px;
    margin: 1rem;
    color: blue;
    border: 2px solid black;
    background-color: yellowgreen;
}
#Weight-guide{
    background-color: burlywood;  
}