body{
   background-color: #212121;
   color: #fff;
} 
nav{
    display:flex;
    justify-content: center;
    gap: 20px;
   margin-bottom: 30px;
    /* margin:15px;
    padding:10px;*/
} 
#a1{
    margin:15px;
    padding:10px;
    border:2px solid black;
    border-radius: 10px;
    background-color: chocolate;
    color:black;
}
#a2{
    margin:15px;
    padding: 10px;
    border:2px solid black;
    border-radius: 10px;
    background-color: chocolate;
    color: black;
}
.center{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}