body{
    background-color: #212121;
    color: #fff;
    text-align: center;
    font-size: large;
}
nav{
    display:flex;
    justify-content: center;
    gap: 20px;
   margin-bottom: 30px;
    /* margin:15px;
    padding:10px;*/
} 
#a1{
    margin:15px;
    padding:10px;
    border:2px solid black;
    border-radius: 10px;
    background-color: chocolate;
    color:black;
}
#a2{
    margin:15px;
    padding: 10px;
    border:2px solid black;
    border-radius: 10px;
    background-color: chocolate;
    color: black;
}